# Smooths out OS-specific shell quirks
shell-emulator = true
# Clear node_modules hoist patterns to completely isolate dependencies
public-hoist-pattern =
# Disable ~source of all evil~ postinstall scripts (and others)
ignore-scripts = true